* {
    box-sizing: border-box;
}

/* Estilos para el cuerpo del documento, incluyendo colores, márgenes y flujo de elementos */
body {
    background-color: #333;
    color: #000000;
    margin: 0;
    flex-flow: column nowrap;
    min-height: 100vh;
}

h2{
    margin: 5px;
}

#map { min-height: 70vh; }

.pedir {
    display: flex;
    background-color: #ff0000;
    color: #000000;
    min-height: 30vh;
    flex-flow: column nowrap;}


#elegir_servicio {
    display: flex;
        background-color: #0ee703;
        color: #000000;
        justify-content: center;
        align-items: center; /* O puedes utilizar width: 20%; */
}
    
#opciones {
    display: flex;
    flex: 20;
    background-color: #5a03e7;
    color: #000000;
    flex-direction: row; 
    /* O puedes utilizar width: 55%; */
}

button{
    flex-grow: 1;
}
div.electrico{
    background-color: #ffffff;
    color: #000000;
}

div.mecanico{
    background-color: #ff0000;
    color: #000000;
}

    
#ubicacion {
        flex: 25;
        background-color: #aae703;
        color: #000000; /* O puedes utilizar width: 25%; */
}

/* Ajustar el tamaño del control geocoder */
.leaflet-control-geocoder {
    width: 100%;
    height: 30px;
  }
  
  /* Estilo de la entrada de texto de la búsqueda */
  .leaflet-control-geocoder form input {
    height: 30px;
    width: 100%;
    border: none;
    padding: 5px;
    box-sizing: border-box;
  }
  
  /* Ajustar el botón de búsqueda */
  .leaflet-control-geocoder form button {
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
  }
  
.form_option {
    padding: 10px;
    margin: 5px;
    border: 1px solid #cccccc;
}

.form_option.selected {
    background-color: #aaaaaa;
}
